body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px gray;
    width: 350px;
    text-align: center;
}

h1 {
    color: purple;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
}

button {
    background: purple;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: darkmagenta;
} 
#result {
    margin-top: 20px;
    color: purple;
    font-size: 24px;
    font-weight: bold;
}