body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px gray;
    text-align: center;
}

h1 {
    color: purple;
}

input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background: purple;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: darkmagenta;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f2f2f2;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}